<?xml version="1.0" encoding="UTF-8"?>
<Context>
    <Resource name="jndi/DB222"
              auth="Container"
              type="javax.sql.DataSource"
              driverClassName="com.mysql.jdbc.Driver"
              url="jdbc:mysql://localhost:3306/DB222"
              username="sh517"
              password="hsyhdd"
              maxActive="20"
              maxIdle="10"
              maxWait="10000"/>
</Context>